@import "tailwindcss";
@config "../../tailwind.config.js";


:root {
  --heroui-background: #ffffff;
}

.dark {
  --heroui-background: #171717; /* bg-zinc-700 */
}

.def-butt {
  background-color: #f3f3f3;
}

.dark .def-butt{
  background-color: #232323;
}

/* Custom Scrollbar untuk Webkit (Chrome/Safari/Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f3f3f3; /* gray-200 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(161, 164, 168); /* gray-300 */
}

/* =========================================== */
/* KOREKSI FIX: STYLING DARK MODE (Menggunakan selector .dark) */
/* =========================================== */

/* Dark Mode: Dasar Thumb */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #222222; /* gray-600 */ 
}

/* Dark Mode: Hover Thumb (FIX DITERAPKAN DI SINI) */
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3b; /* gray-500 */ 
}
